In [7]:
import numpy as np
import pandas as pd

### Seriler

In [9]:
dics = {"a": 50, "b": 30}
listt = [1, 2, 3]

pd.Series(dics)
pd.Series(listt)

0    1
1    2
2    3
dtype: int64

In [16]:
seri1 = pd.Series([10, 20, 30], ["a", "b", "c"])
seri2 = pd.Series([11, 21, 31], ["a", "b", "d"])
seri3 = pd.Series([11, 21, 31], ["a", "b", "c"])

In [17]:
seri1 + seri2

a    21
b    41
c    61
dtype: int64

## DataFrame

In [18]:
dataFrame = np.random.randn(4,3)

In [19]:
pd.DataFrame(dataFrame)

          0         1         2
0  1.542340  1.079728  0.011672
1 -0.537704 -0.641870 -0.741750
2 -0.961412  0.390956 -0.100986
3 -0.667763 -0.477539  0.195308

In [21]:
yeniDataFrame = pd.DataFrame(dataFrame, index=["a", "b", "c", "d"], columns=["x", "y", "z"])
yeniDataFrame

          x         y         z
a  1.542340  1.079728  0.011672
b -0.537704 -0.641870 -0.741750
c -0.961412  0.390956 -0.100986
d -0.667763 -0.477539  0.195308

In [28]:
yeniDataFrame["x"] # tek bir kolonu getirir
yeniDataFrame[["x", "y"]] # seçilen 2 kolonu getirir
yeniDataFrame.loc[["a", "b"]] # satırı getirir

          x         y         z
a  1.542340  1.079728  0.011672
b -0.537704 -0.641870 -0.741750

In [35]:
yeniDataFrame[yeniDataFrame["x"] > 0]

         x         y         z
a  1.54234  1.079728  0.011672

In [40]:
yeniIndexListesi = ["h", "j", "k", "l"]
yeniDataFrame["yeni index"] = yeniIndexListesi
yeniDataFrame
yeniDataFrame.set_index("yeni index")
yeniDataFrame.set_index("yeni index", inplace = True) # Inplace yapılan değişikliği kalıcı hale getirir

                   x         y         z
yeni index
h           1.542340  1.079728  0.011672
j          -0.537704 -0.641870 -0.741750
k          -0.961412  0.390956 -0.100986
l          -0.667763 -0.477539  0.195308

In [45]:
ilkIndex = ["A grubu", "A grubu","A grubu", "B grubu", "B grubu", "B grubu"]
altIndex = ["A1", "A2", "A3", "B1", "B2", "B3"]

birlesmisIndex = list(zip(ilkIndex, altIndex))
birlesmisIndex = pd.MultiIndex.from_tuples(birlesmisIndex)

In [46]:
birlesmisIndex

MultiIndex([('A grubu', 'A1'),
            ('A grubu', 'A2'),
            ('A grubu', 'A3'),
            ('B grubu', 'B1'),
            ('B grubu', 'B2'),
            ('B grubu', 'B3')],
           )

In [49]:
data = [[10, "1"], [11, "2"], [12, "3"], [13, "4"], [14, "5"], [16, "6"]]
newDataFrame = pd.DataFrame(data, index = birlesmisIndex, columns=["First", "Second"])

In [50]:
newDataFrame

            First Second
A grubu A1     10      1
        A2     11      2
        A3     12      3
B grubu B1     13      4
        B2     14      5
        B3     16      6