In [2]:
import numpy as np
import pandas as pd

In [5]:
excelFrame = pd.read_excel("data.xlsx")

In [6]:
excelFrame

   ID  Densite  Polarite  H20_Skoru  O2_Skoru  Azot_Skoru Sınıf Bilgisi
0   1    0.560  1.470000   5.100000      6.86         3.5     yaşanamaz
1   2    0.574       NaN   4.900000      6.58         NaN     yaşanamaz
2   3    0.426  1.387000   4.700000      5.85         3.2     yaşanamaz
3   4    0.600  0.203572   4.600000      6.60         3.1     yaşanamaz
4   5    0.532  0.203572   5.000000       NaN         3.6     yaşanamaz
5   6      NaN  0.203572   5.736559     -0.68         3.9     yaşanamaz
6   7    0.476       NaN   4.600000      6.02         NaN           NaN
7   8    0.650  0.203572   5.000000      7.20         3.4     yaşanamaz
8   9      NaN  0.203572   4.400000      0.00         2.9     yaşanamaz

In [8]:
doluExcel = excelFrame.dropna()

In [9]:
doluExcel.to_excel("yeniList.xlsx")